services:
  - docker

before_install:
  - docker build -t masudiiuc/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true masudiiuc/react-test npm test -- --coverage

after_success:
  - docker build -t masudiiuc/multi-container-client ./client
  - docker build -t masudiiuc/multi-container-server ./server
  - docker build -t masudiiuc/multi-container-worker ./worker
  - docker build -t masudiiuc/multi-container-nginx ./nginx

  # ------------- Push to Docker Hub ------------
  # step 1: Add env variable $docker_id and $docker_password in Travis Repository settings

  # step 2: login to docker hub using Docker login
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin

  # step 3:
  - docker push masudiiuc/multi-container-client
  - docker push masudiiuc/multi-container-nginx
  - docker push masudiiuc/multi-container-server
  - docker push masudiiuc/multi-container-worker
